{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <div class="progress">
                <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="lower" class="red">
                Has lower case letter
            </div>
            <div id="upper">
                Has uppercase letter
            </div>
            <div id="special">
                Has special character
            </div>
            <div id="length">
                Has at least 6 characters
            </div>

        </div>
    </div>
    <style>
        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }
    </style>
    <script>
        let passwordField = document.getElementById("password");
        let lower = document.getElementById("lower");
        let upper = document.getElementById("upper");
        let length = document.getElementById("length");
        let special = document.getElementById("special");
        let progress_bar = document.getElementById("p-bar");
        let hasLowerCase = 0;
        let hasUpperCase = 0;
        let hasLength = 0;
        let hasSpecial = 0;

        console.log(progress_bar);

        passwordField.onfocus = function () {
            var message = document.getElementById("message");
            message.style.display = "block";
        }

        passwordField.onkeyup = function () {
            // Validate lowercase letters
            let lowerCaseLetters = /[a-z]/g;
            if (passwordField.value.match(lowerCaseLetters)) {
                lower.classList.remove("invalid");
                lower.classList.add("valid");
                hasLowerCase = 1;
            } else {
                lower.classList.remove("valid");
                lower.classList.add("invalid");
                hasLowerCase = 0;
            }

            let upperCaseLetters = /[A-Z]/g;
            if (passwordField.value.match(upperCaseLetters)) {
                upper.classList.remove("invalid");
                upper.classList.add("valid");
                hasUpperCase = 1;
            } else {
                upper.classList.remove("valid");
                upper.classList.add("invalid");
                hasUpperCase = 0;
            }

            let specialChars = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
            if (passwordField.value.match(specialChars)) {
                special.classList.remove("invalid");
                special.classList.add("valid");
                hasSpecial = 1;
            } else {
                special.classList.remove("valid");
                special.classList.add("invalid");
                hasSpecial = 0;
            }

            let passwordLength = 6;
            if (passwordField.value.length >= passwordLength) {
                length.classList.remove("invalid");
                length.classList.add("valid");
                hasLength = 1;
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
                hasLength = 0;
            }

            let new_width_value;
            let requirements = [hasLowerCase, hasUpperCase, hasSpecial, hasLength];
            let counter = 0;
            for (let i = 0; i < requirements.length; i++) {
                counter = counter + requirements[i];
            }
            let percentage = counter / requirements.length * 100;
            //console.log(percentage);
            new_width_value = percentage.toString().concat("%");
            progress_bar.style.width = new_width_value;
        }
    </script>

{% endblock %}