{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <!--<div class="progress">
                <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>-->
            <div id="lower" class="red">
                Has lower case letter
            </div>
            <div id="upper">
                Has uppercase letter
            </div>
            <div id="special">
                Has special character
            </div>
            <div id="length">
                Has at least 6 characters
            </div>

        </div>
    </div>

{% endblock %}